// CONFIGURAÇÕES GERAIS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

    &::before,&::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

body {
    overflow-x: hidden;
    background-color: $PrimaryPurple;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: $PrimaryGray;
}

a,
a:visited {
    color: inherit;
}

img, span {
    display: block;
}